# Ignore node_modules directory
node_modules/
/node_modules

# Ignore npm debugging log file
npm-debug.log

# Ignore yarn debugging log file
yarn-debug.log

# Ignore yarn error log file
yarn-error.log

# Ignore .env file which might contain sensitive information
.env

# Ignore build output directories (you can adjust this based on your setup)
build/
dist/

# Ignore any file with .log extension
*.log
